<!DOCTYPE html>
<html lang="en">
<head>
  <title>Maijonga Tea Estate</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>

  <header>
    <a href="#" id="logo">Maijonga.in</a>
    <nav>
      <a href="#">Home</a>
      <a href="#hello">Gallery</a>
      <a href="#Explore">About</a>
      <a href="#contact">Contact</a>
      <a href="#book">Book Visit</a>
    </nav>
  </header>